/*creating logo Animation to then add it to logo*/
@keyframes logoAnimation {
    from {
        width: 25px;
        opacity: 0;
    }
    to {
        width: 475px;
        opacity: 1;
    }
}

/* adding animation above to the actual logo */
#logo {
    animation-name: logoAnimation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Body elements all have font Poppins (Google fonts), with serif as back up.
Also set background img to concrete_seamless.png,
and background color to #f1f1f1. */

body {
    font-family: "Poppins", sans-serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

/* All header tags have flex display, set up in column, and horizontally aligned */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* All nav links have flex display and have column flex direction */

.nav_links {
    display: flex;
    flex-direction: column;
}

/* Nav links will maintain same color after having already been used.  */

.nav_item a:visited {
    color: rgb(0, 0, 205);
}

/* Modify every header element that is a child of card class according to following properties: 
background: #288088,
solid 2px border using #45ADAD,
20px of padding on the top and the bottom, 
50px border-radius on the top left and right corners.  */


.card>header {
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/* Make sure that the div's corners are also rounded so
white background cannot be seen */

div.card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/* Use flex display for cards and
use flex-direction to set them up in columns  */

.card {
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
    flex-shrink: 1;
}

/* Set the actual objects in a column so they will be above each other.
center them both vertically and horizontally. */

.pricing {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* setting style for gallery images.  */

.gallery img {
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

/* Creating flex display properties for gallery,
so it will self adjust according to the screen size,
no media query necessary */

.gallery {
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
}

/* Media query for screen width greater than 900px */
@media screen and (min-width: 900px) {

    /* change flex display for header to row direction,
    to have logo and nav link be in one line. */
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /* move nav links to the end of the row. */
    .nav_links {
        flex-direction: row;
        justify-content: flex-end;
    }

    /* add the new size of the cards, set to 275px using flex-basis */

    .card {
        flex-basis: 275px;
    }

    .pricing {
        flex-basis: 275px;
    }

    /* change only the very first header, so that it will stay at the top of the screen
    even as we scroll down the page */
    body>header {
        position: fixed;
        top: 0;
        width: 100%;
    }

    /* make sure the rest of the content is visible (adjusting to the new header. */
    main {
        margin-top: 100px;
    }

}

@media screen and (prefers-reduced-motion: reduce) {
    /* disable logo animation when user prefers reduced motion. */
    #logo {
        animation: none;
    }
}

@media print and (orientation: portrait) {
    /* Styles for printing in portrait mode */
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: none;
    }

    header {
        justify-content: space-between;
    }

    /* enlarging nav so that nav links can be spread out across its row */
    nav {
        flex-direction: row;
        width: 100%;
    }

    /* spread out nav_links across their row */
    .nav_links {
        flex-direction: row;
        justify-content: space-between;
        justify-content: space-around;
        
    }

    /* ensure all 3 cards will be in the same row and will be their bottom is aligned. */
    .pricing {
        align-items:end;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    /* allow card to shrink to fit to its parent if necessary,
    as well as set it to its new size (325px) */
    .card {
        border: solid 2px #45ADDD;
        flex: 0 1 325px;
        
        
    }

    /* hide gallery for this view */

    #gallery, .gallery {
        display: none;
    }

    /* add thuumbs-up emoji to the end of sentences in the cards */
    div > ul > li:nth-child(2)::after {
        content: "\1F44D";
      }
}